{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}News{% endblock %}
{% block content %}
<section id="section-content" class="content page-16 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-text moto-preset-default                moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                         data-widget="text" data-preset="default" data-spacing="lama">
                        <div class="moto-widget-text-content moto-widget-text-editable"><p
                                class="moto-text_system_4" style="text-align: center;">Latest news</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                         data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="default"
                         data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}"
                         data-spacing="aasa" data-width="0">
                        <hr style="width: 0%;" class="moto-widget-divider-line">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-6" data-container="container">
                    <div data-css-name="moto-container_content_55e55543"
                         class="moto-widget moto-widget-container moto-container_content_55e55543"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                wow fadeIn moto-spacing-top-medium moto-spacing-right-medium moto-spacing-bottom-auto moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mmam">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><span class="moto-color2_3">05 December, 2016</span></p>
                            </div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="amsm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><span class="moto-color1_3"><a class="moto-link"
                                                                                              data-action="url"
                                                                                              href="#"
                                                                                              target="_self">School
                                of management for leaders starts</a></span><br></p></div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="ammm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">We invite you to the school if:</p>

                                <p class="moto-text_system_10">- It is important for you to improve your knowledge
                                    in management.<br></p>

                                <p class="moto-text_system_10">- You want to understand that you are doing right,
                                    and what actions are not effective.<br></p>

                                <p class="moto-text_system_10">- You want to know the psychological foundations of
                                    personnel motivation, human behavior, organizational behavior.<br></p></div>
                        </div>
                    </div>
                </div>
                <div class="moto-cell col-sm-6" data-container="container">
                    <div data-css-name="moto-container_content_55e55555"
                         class="moto-widget moto-widget-container moto-container_content_55e55555"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow fadeIn moto-spacing-top-medium moto-spacing-right-medium moto-spacing-bottom-auto moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mmam">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><span class="moto-color2_3">21 November, 2016<br></span>
                            </p></div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="amsm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><a class="moto-link" data-action="url" href="#"
                                                                  target="_self">‘Effective recruitment’
                                training</a><br></p></div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="ammm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">During the training, participants:<br></p>

                                <p class="moto-text_system_10">- Possess the advanced techniques of recruitment of
                                    competence, efficiency and motivation<br></p>

                                <p class="moto-text_system_10">- They will learn to evaluate the 10 core
                                    competencies<br></p>

                                <p class="moto-text_system_10">- Will be able to identify 15 motivation factors<br>
                                </p>

                                <p class="moto-text_system_10">- Will get the designer issues for any position<br>
                                </p>

                                <p class="moto-text_system_10">- Master the tools for effective adaptation of
                                    employees<br></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-6" data-container="container">
                    <div data-css-name="moto-container_content_55e5556c"
                         class="moto-widget moto-widget-container moto-container_content_55e5556c"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow fadeIn moto-spacing-top-medium moto-spacing-right-medium moto-spacing-bottom-auto moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mmam">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><span class="moto-color2_3">12 October, 2016<br></span>
                            </p></div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="amsm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><a class="moto-link" data-action="url" href="#"
                                                                  target="_self">Human Recruitment Forum</a><br></p>
                            </div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="ammm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">Discussing:</p>

                                <p class="moto-text_system_10">- Intangible motivation</p>

                                <p class="moto-text_system_10">- Involvement, employee retention<br></p>

                                <p class="moto-text_system_10">- Automation of HR processes<br></p>

                                <p class="moto-text_system_10">- Transformation of human resources in the human
                                    capital<br></p></div>
                        </div>
                    </div>
                </div>
                <div class="moto-cell col-sm-6" data-container="container">
                    <div data-css-name="moto-container_content_55e5557a"
                         class="moto-widget moto-widget-container moto-container_content_55e5557a"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow fadeIn moto-spacing-top-medium moto-spacing-right-medium moto-spacing-bottom-auto moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mmam">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><span class="moto-color2_3">27 September, 2016<br></span>
                            </p></div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="amsm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_7"><a class="moto-link" data-action="url" href="#"
                                                                  target="_self">‘Managing conflicts in the team’
                                seminar</a><br></p></div>
                        </div>
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default               wow moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium fadeIn"
                             data-widget="text" data-preset="default" data-spacing="ammm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">Tasks:<br></p>

                                <p class="moto-text_system_10">- Realize own system of beliefs and values;<br></p>

                                <p class="moto-text_system_10">- To master the technology of the rapid analysis of a
                                    conflict situation;<br></p>

                                <p class="moto-text_system_10">- Work out strategies of conflict management.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                         data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="default"
                         data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}"
                         data-spacing="sama" data-width="0">
                        <hr style="width: 0%;" class="moto-widget-divider-line">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-css-name="moto-container_content_55e557c3"
         class="moto-widget moto-widget-container moto-container_content_55e557c3" data-widget="container"
         data-container="container">
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="lama">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    style="text-align: center;" class="moto-text_system_4"><span
                                    class="moto-color5_3">What's new?<br></span></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default              moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_260"><a class="moto-link" data-action="url" href="#"
                                                             target="_self">‘Perfect staff’ needs HR
                                Manager </a><br></p></div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default              moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aala">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10"><span class="moto-color5_3">Need HR Manager</span>
                            </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">Fits medium size company, where manager combines several functions</span>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">Portrait of a man: a positive, open, ambitious,a young, dynamic, supporting healthy lifestyle</span><br>
                                </p>

                                <p class="moto-text_system_10"><span
                                        class="moto-color5_3">Sphere -filters for water.</span>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">Clients - &nbsp;from the physical persons, to hotels, restaurants, activities and networks Prospect-growing together with the company, the position of director of personnel</span>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">Age 23 -33 Max </span>
                                </p></div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default              moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_260"><span class="moto-color1_3"><a class="moto-link"
                                                                                         data-action="url" href="#"
                                                                                         target="_self">Soon.
                                Seminar ‘They should work better. Technology solving problems with staff’</a></span><br>
                            </p></div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default              moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aala">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10"><span class="moto-color5_3">This training is only for top managers of companies. Also for top managers who are not involved in recruitment.</span>
                            </p>

                                <p class="moto-text_system_10"><span
                                        class="moto-color5_3">At the seminar we will cover:</span>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">&nbsp;- What actions to take, to cause the flow of productive people to the company.</span><br>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">- What qualities must have a &nbsp;responsible person for the initial selection of candidates</span><br>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">- The speed factor in making a decision.</span><br>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">- Why procrastination leads to the loss of the most productive candidates,</span><br>
                                </p>

                                <p><br></p></div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default              moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_260"><span class="moto-color1_3"><a class="moto-link"
                                                                                         data-action="url" href="#"
                                                                                         target="_self">25.11.16.
                                London. HR-IT Conference 2016</a></span><br></p></div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default              moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aala">
                            <div class="moto-widget-text-content moto-widget-text-editable"><span
                                    class="moto-color5_3"></span>

                                <p class="moto-text_system_10"><span
                                        class="moto-color5_3">This year we’ll speak about:</span>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">Forming teams. Selection of the personnel.</span>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">1. Evaluation and development of personnel. Developing talent. The creation of a personnel reserve.</span><br>
                                </p>

                                <p class="moto-text_system_10"><span
                                        class="moto-color5_3">2. Motivation and retention.</span>
                                </p>

                                <p class="moto-text_system_10"><span class="moto-color5_3">3. Creation of systems for internal communications. The formation and development of HR-brand. Research and surveys.</span><br>
                                </p><span class="moto-color5_3"></span><br></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                         data-widget="text" data-preset="default" data-spacing="lama">
                        <div class="moto-widget-text-content moto-widget-text-editable"><p
                                class="moto-text_system_4" style="text-align: center;">Most discussed</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-6" data-container="container">
                    <div class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto wow fadeInUp"
                         data-preset="default" data-spacing="sasa" data-widget="image">


                        <div class="moto-widget-image-link">
                            <img src="{% static 'images/mt-0135-news-most-discussed1.jpg' %}"
                                 class="moto-widget-image-picture" data-id="347" title="" alt="" draggable="false">
                        </div>

                    </div>
                    <div data-animation="fadeInUp"
                         class="moto-widget moto-widget-text moto-preset-default              wow moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto fadeInUp"
                         data-widget="text" data-preset="default" data-spacing="sasa">
                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal">
                            <a data-action="url" href="#" target="_self">The number of unemployed in Germany fell in
                                May</a><br></p></div>
                    </div>
                    <div data-animation="fadeInUp"
                         class="moto-widget moto-widget-text moto-preset-default             wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto fadeInUp"
                         data-widget="text" data-preset="default" data-spacing="aala">
                        <div class="moto-widget-text-content moto-widget-text-editable"><p
                                class="moto-text_system_10"><span class="moto-color1_3">Germany's unemployment rate in May remained at the previous month-6.4%, the lowest mark since the country's reunification in 1990, informs the Federal employment agency. Rate stays at this level during sixth month.</span><br>
                        </p></div>
                    </div>
                </div>
                <div class="moto-cell col-sm-6" data-container="container">
                    <div class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto wow fadeInUp"
                         data-preset="default" data-spacing="sasa" data-widget="image">


                        <div class="moto-widget-image-link">
                            <img src="{% static 'images/mt-0135-news-most-discussed2.jpg' %}"
                                 class="moto-widget-image-picture" data-id="349" title="" alt="" draggable="false">
                        </div>

                    </div>
                    <div data-animation="fadeInUp"
                         class="moto-widget moto-widget-text moto-preset-default              wow moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto fadeInUp"
                         data-widget="text" data-preset="default" data-spacing="sasa">
                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal">
                                <span class="moto-color1_3"><a class="moto-link" data-action="url" href="#"
                                                               target="_self">In Poland the unemployment rate have
                                    fallen sharply</a></span><br></p></div>
                    </div>
                    <div data-animation="fadeInUp"
                         class="moto-widget moto-widget-text moto-preset-default             wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto fadeInUp"
                         data-widget="text" data-preset="default" data-spacing="aala">
                        <div class="moto-widget-text-content moto-widget-text-editable"><p
                                class="moto-text_system_10"><span class="moto-color1_3">Poland's Ministry of Labor reports that in the last month in the country significantly reduced the number of unemployed. According to employees of departments, the number of people who can not find work, has fallen by 35 thousand people. </span><br>
                        </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-stellar-background-ratio="0.5" data-css-name="moto-container_content_55e55958"
         class="moto-widget moto-widget-container moto-parallax moto-container_content_55e55958"
         data-widget="container" data-container="container">
        <div class="moto-widget moto-widget-spacer moto-preset-default              moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
             data-widget="spacer" data-spacing="lala">
            <div class="moto-widget-spacer-block" style="height: 10px;"></div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div data-animation="fadeInUp"
                             class="moto-widget moto-widget-text moto-preset-default              wow fadeInUp moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="lasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_14" style="text-align: center;">Everybody has a
                                chance<br></p></div>
                        </div>
                        <div data-animation="fadeInUp"
                             class="moto-widget moto-widget-text moto-preset-default             wow fadeInUp moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aala">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    style="text-align: center;" class="moto-text_system_3">to apply his
                                knowledge</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-spacer moto-preset-default              moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
             data-widget="spacer" data-spacing="lala">
            <div class="moto-widget-spacer-block" style="height: 10px;"></div>
        </div>
    </div>
    <div data-css-name="moto-container_content_55e559ef"
         class="moto-widget moto-widget-container moto-container_content_55e559ef" data-widget="container"
         data-container="container">
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="lama">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_4" style="text-align: center;"><span
                                    class="moto-color5_3">News archive</span></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-3" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">September 2016<br></span></p>
                            </div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default                 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sama">
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <ul class="moto-text_261">
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">In Norway unemployment is
                                        growing</a></p></li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">September rating of agencies</a></p>
                                    </li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">September catalogue</a></p></li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">List of outplaced in
                                        October</a><br></p></li>
                                    <li class="moto-text_261"><a class="moto-link" data-action="url" href="#"
                                                                 target="_self">Seminar report</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-3" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">October 2016<br></span></p>
                            </div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default                moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sama">
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <ul class="moto-text_261">
                                    <li class="moto-text_261"><a class="moto-link" data-action="url" href="#"
                                                                 target="_self"></a>

                                        <p><a class="moto-link" data-action="url" href="#" target="_self">Training
                                            report</a><br></p></li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">List of outplaced in
                                        October</a><br></p></li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">October rating of agencies</a><br>
                                    </p></li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">December catalogue</a><br></p></li>
                                    <li class="moto-text_261"><a class="moto-link" data-action="url" href="#"
                                                                 target="_self">British companies recruit staff
                                        again</a><br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-3" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">November 2016<br></span></p>
                            </div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default                moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sama">
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <ul class="moto-text_261">
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">Master-class report</a></p></li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">List of outplaced in November</a></p>
                                    </li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">November rating of agencies</a></p>
                                    </li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">November catalogue</a><br></p></li>
                                    <li class="moto-text_261"><a class="moto-link" data-action="url" href="#"
                                                                 target="_self">The biggest employers of Briitain in
                                        the field of IT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-3" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">December 2016<br></span></p>
                            </div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sala">
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <ul class="moto-text_261">
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">List of outplaced in December</a></p>
                                    </li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">December rating of agencies</a></p>
                                    </li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">December catalogue</a></p></li>
                                    <li class="moto-text_261"><p><a class="moto-link" data-action="url" href="#"
                                                                    target="_self">‘Effective recruitment’
                                        training</a><br></p></li>
                                    <li class="moto-text_261"><a class="moto-link" data-action="url" href="#"
                                                                 target="_self">School of management for leaders
                                        starts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}