{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}Privacy Policy{% endblock %}
{% block content %}
<section id="section-content" class="content page-1 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>Privacy Policy</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">We,linkedincareer, are committed to respect your online
                                privacy and recognize your need for suitable protection and management of any personally
                                identifiable information ("Personal Information") you share with us. linkedincareer is
                                committed to protecting the privacy of our users, and strives to provide a safe, secure
                                user experience. This Privacy Statement sets forth the online data collection and usage
                                policies and practices that apply to this web site. &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>External services</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">linkedincareer collects on the web to third-party
                                service
                                providers to help us deliver programs, products, information, and services, Seek Careerz
                                will take reasonable steps to ensure that these third-party service providers are
                                obligated to protect personal information on Seek Careerz. We ensure maximum security
                                standards to protect against unauthorized access to or unauthorized alteration,
                                disclosure or destruction of data. &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>Information We Collect</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">You do not have to give us any personal information in
                                order to perform job searches or to read the content portions of our Site. We collect
                                the following general types of information about you when you visit our Sites: personal
                                information, demographic information, behavioral information, and indirect information.
                                Sometimes we collect combinations of all these types of information. In each case, it is
                                indicated on the web site whether any personal or demographic data must be provided to
                                use the requested service or not. Personal information is information that can be used
                                to identify you, or any other individual to whom the information may relate, personally.
                                We do not collect personal information unless you choose to provide it to us. Some
                                examples of personal information that we collect in some areas of our Site, depending on
                                the services you use and local law, are: Your name, Address, Email address, Telephone
                                number and Contact information. &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>How Information is used</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">We use the information we gather on the web site for the
                                purposes of: providing our services responding to any queries you may have; operating
                                and improving the web site; fostering a positive user experience; and delivering the
                                products and services that we offer to jobseekers and employers. &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>Information about you specifically</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">Seek Careerz Private Ltd is a career site; we retain
                                your personal information to assist in your career performance or management including
                                finding or retaining work; or to facilitate other services to or by us. For example,
                                when you sign up to use a service, enter into a contest, or purchase a product, we
                                collect more specific personal information about you, such as your name, address, email
                                address, telephone number, qualifications or career history. If you choose to do so we
                                may also retain sensitive information about you such as information about your
                                membership in a professional or trade association or trade union. We may also ask you
                                for other information, such as information on your interests, your likes and dislikes
                                regarding the Web Site, the types of jobs you are interested in, etc., in an effort to
                                deliver to you the best possible Web Site experience. When you grant us your permission,
                                we will communicate with you regularly with tips, advice and survey information on using
                                the Seek Careerz Web Site to maximize your career development. &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>About Your Resume</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><br>

                                <p class="moto-text_system_25">
                                    We give you the option of putting your resume in our
                                    database. When you create or post a resume to the Sites, that resume is stored in
                                    our
                                    searchable resume database. You may control the status of your resume by setting it
                                    to
                                    private or public. If you set your resume as private, it is not searchable by
                                    potential
                                    employers or other with access to our resume database. You may still use your resume
                                    to
                                    apply online to a job. If you do apply online to a job, your resume will be
                                    transferred
                                    to the relevant employer, who may retain a copy of your resume or distribute it to
                                    third
                                    parties. We cannot control their use or retention of your resume information. &nbsp;<br>

                                    If you set your resume as private, it is not searchable by potential employers or
                                    other
                                    with access to our resume database. You may still use your resume to apply online to
                                    a
                                    job. If you do apply online to a job, your resume will be transferred to the
                                    relevant
                                    employer, who may retain a copy of your resume or distribute it to third parties. We
                                    cannot control their use or retention of your resume information.
                                    &nbsp;<br>&nbsp;<br>

                                    If you set your resume as public, but want your contact information to be
                                    confidential, your resume will be searchable by potential employers, but we will
                                    hide your contact information and current company. You must also remove your contact
                                    information from your uploaded or copy and paste text resume. You should be aware
                                    that if you have a rare skill or job title, for example, it may still be possible
                                    for you to be identified even without your contact details being included.<br>&nbsp;<br>

                                    If you are worried about being identified, you should not include specific details
                                    by which you could be identified. If you use a confidential resume to apply to a job
                                    online, the employer to whom you send your resume will be able to view your contact
                                    information in order to contact you about your application.<br>&nbsp;<br>


                                    If you allow your resume to be searchable without making it confidential, then all
                                    parties with access to our searchable resume database (or copies thereof) will have
                                    access to your resume. Employers or other parties with access to our searchable
                                    resume database may be located in countries whose data protection legislation may
                                    not be equivalent to the laws in your country. For example, your resume may be
                                    viewed and accessed by employers outside the European Economic Area who have access
                                    to our searchable database.<br>&nbsp;<br>

                                    By making your resume searchable, you are expressly consenting to such transfers of
                                    data, If you use our facilities to build a CV or to post a resume in our database,
                                    then you will be providing us with personal data we will use in accordance with this
                                    Statement. Your resume must not contain sensitive data relating to your (i) racial
                                    or ethnic origin (ii) political beliefs (iii) philosophical or religious beliefs
                                    (iv) membership of a trade union or political party (v) physical or mental health or
                                    genetic makeup (vi) addictions, sexual life (vii) the commission of criminal
                                    offences or proceedings and associated penalties or fines, or (viii) any Social
                                    Security Number or national identification number, if you set your resume as private
                                    unless you have previously sent to us your written consent that we may process your
                                    sensitive personal data.If your resume does contain such data and you set your
                                    resume as public, then you agree that we may retain this information and use it in
                                    accordance with this Statement. We cannot control third parties access to such
                                    information from our searchable database.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>Updating Account Information</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">We wish to ensure your personal information is complete,
                                accurate and up to date. Seek Careerz allows you to change or correct your personal
                                information at any time. To do so, simply log into your My Seek Careerz account, and you
                                will find options for editing the information you have submitted. &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>Updating Account Information</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">We do not collect sensitive personal data like;
                                financial information such as Bank Account details or Credit Card or Debit Card or other
                                payment related details; physical and mental or other health conditions or medical
                                records and history; Biometric information such as finger prints, voice & facial
                                patterns and DNA any other sensitive information which is confidential or sensitive by
                                its nature. We do not store information of users like password of your e mail
                                account.However, we cannot guarantee encryption or the privacy of your personal details
                                and credit card information. When we receive your order, it is kept encrypted until we
                                are ready to process it. We will take reasonable steps to keep the information you
                                provide us with secure. &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-8" data-container="container">
                    <h2>Refund Policy</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default                               wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">Amount paid for the Career Services are not
                                refundable.Multiple iterations via email during CV development process Seek Careerz has
                                no control over the quality, safety or legality of CVs, cover letters, CV evaluations,
                                or other material posted, the truth or accuracy of the information provided by Customer,
                                the ability of employers to offer interviews and/or employment opportunities to Customer
                                or the ability of Customer to fill job openings. &nbsp;<br>

                                Seek Careerz makes no representation about the truthfulness, accuracy, reliability,
                                completeness, or timeliness of any CV and/or cover letter and/or CV evaluation and
                                cannot be responsible for the form, content and accuracy of any cv, cover letter, cv
                                evaluation or other material submitted by Customer to cv Services Seek Careerz is not
                                responsible for any interview or employment decision regarding Customers posting CVs
                                and/or cover letters on The Web Site site&nbsp;<br>

                                The Member, who is liable to pay Subscription Fees, shall pay it on demand even if the
                                Member disputes the same for any reason. In the event that the Company deciding the
                                dispute to be in the Member's favor, the Company shall refund to the Member any excess
                                amount paid by the Member free of interest. In the event of late payment by the Member
                                of any sums due under this Agreement, the membership and the services would stand
                                terminated&nbsp;<br>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}