{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}Right Connect{% endblock %}
{% block content %}
<section id="section-content" class="content page-1 moto-section" data-widget="section" data-container="section">
    <div data-css-name="moto-container_content_55e41575"
         class="moto-widget moto-widget-container moto-container_content_55e41575" data-widget="container"
         data-container="container">
        <div class="moto-widget moto-widget-slider moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  moto-widget-slider-loader"
             data-widget="slider" data-preset="default" data-spacing="aaaa">


            <ul class="moto-widget-slider-list"
                data-moto-slider-options='{&quot;itemsCount&quot;:3,&quot;slideshowEnabled&quot;:true,&quot;slideshowDelay&quot;:10,&quot;slideshowAnimationType&quot;:&quot;fade&quot;,&quot;showNextPrev&quot;:true,&quot;showPaginationDots&quot;:false,&quot;showSlideCaptions&quot;:true}'>
                <li><img src="{% static 'images/mt-0135-home-slider1.jpg'%}"
                         title="{% block slider_title%} Right Connect {% endblock %}" alt="mt-0135-home-slider1.jpg"/></li>
            </ul>

        </div>
    </div>
    {% block service_1 %}
    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-8" data-container="container">
                            <h1>{% block service_heading_1 %}Right Connect{% endblock%}</h1>
                    </div>
                </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_25">{% block service_content_1 %} As the phrase says it all, with ‘Right Connect’ we
                                enable
                                the provision of the Right Candidate for the Right Job and vice versa. Through our Right
                                Connect service, the CVs of potential candidates are made available to the recruiting
                                company or the consulting company so as to enable them to make their choicest pick.
                                The distinct aspect of Right Connect is that candidates are diligently chosen to suit
                                the precise needs of the company and their profiles presented. Simultaneously the
                                candidates are also queried if the available position and the employer suit their
                                requirements. Upon acceptance of the prospect, an interview is arranged and the
                                appointment processed accordingly.
                                With Right Connect it is impossible for any wrong profiles to be matched and the
                                employers, the consultants, and the candidates are therefore assured of the best suited
                                opportunities to each other, paving way for successful and satisfying placements.{% endblock%} &nbsp;<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block extra_service_heading %}{% endblock %}
    {% block extra_service_content %}{% endblock %}
    <div class="moto-widget moto-widgetRight Connect:ght Connect:ow row-fixed" data-widget="row">
        <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-8" data-container="container">
                            <h1>{% block service_heading_2 %}Select Country{% endblock%}</h1>
                    </div>
                </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            {% block service_content_2_1 %}
            <div class="row">

                <div class="moto-cell col-sm-3" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium moto-spacing-right-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable" style="text-align: center;">
                                <div class="moto-spacing-bottom-small">
                                    <img src="{% static 'images/usa.jpg' %}" data-id="298" title="" alt="" draggable="false">
                                </div>
                                <p class="moto-text_system_18" align="middle">USA<br></p>
                                <h3><a href="{% url 'payment_with_country' 299 'RC' 'US' %}" >$299</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moto-cell col-sm-3" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium moto-spacing-right-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable" style="text-align: center;">
                                <div class="moto-spacing-bottom-small">
                                    <img src="{% static 'images/australia.jpg' %}" data-id="298" title="" alt="" draggable="false">
                                </div>
                                <p class="moto-text_system_18">Australia <br></p>
                                <h3><a href="{% url 'payment_with_country' 299 'RC' 'AU' %}" >$299</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moto-cell col-sm-3" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium moto-spacing-right-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable" style="text-align: center;">
                                <div class="moto-spacing-bottom-small">
                                    <img src="{% static 'images/canada.jpg' %}" data-id="298" title="" alt="" draggable="false">
                                </div>
                                <p class="moto-text_system_18">Canada<br></p>
                                <h3><a href="{% url 'payment_with_country' 299 'RC' 'CA' %}" >$299</a></h3>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="moto-cell col-sm-3" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium moto-spacing-right-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable" style="text-align: center;">
                                <div class="moto-spacing-bottom-small">
                                    <img src="{% static 'images/india.jpg' %}" data-id="298" title="" alt="" draggable="false">
                                </div>
                                <p class="moto-text_system_18">India<br></p>
                                <h3><a href="{% url 'payment_with_country' 299 'RC' 'IN' %}" >$299</a></h3>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="moto-cell col-sm-3" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium moto-spacing-right-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable" style="text-align: center;">
                                <div class="moto-spacing-bottom-small">
                                    <img src="{% static 'images/gulf.jpg' %}" data-id="298" title="" alt="" draggable="false">
                                </div>
                                <p class="moto-text_system_18">Middle East<br></p>
                                <h3><a href="{% url 'payment_with_country' 249 'RC' 'MI' %}" >$249</a></h3>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="moto-cell col-sm-3" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium moto-spacing-right-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable" style="text-align: center;">
                                <div class="moto-spacing-bottom-small">
                                    <img src="{% static 'images/singapore.jpg' %}" data-id="298" title="" alt="" draggable="false">
                                </div>
                                <p class="moto-text_system_18">Singapore<br></p>
                                <h3><a href="{% url 'payment_with_country' 199 'RC' 'SG' %}" >$199</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moto-cell col-sm-3" data-container="container">
                    <div data-css-name="moto-container_content_55e42abb"
                         class="moto-widget moto-widget-container moto-container_content_55e42abb"
                         data-widget="container" data-container="container">
                        <div data-animation="fadeIn"
                             class="moto-widget moto-widget-text moto-preset-default wow fadeIn moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium moto-spacing-right-medium"
                             data-widget="text" data-preset="default" data-spacing="mamm">
                            <div class="moto-widget-text-content moto-widget-text-editable" style="text-align: center;">
                                <div class="moto-spacing-bottom-small">
                                    <img src="{% static 'images/malaysia.jpg' %}" data-id="298" title="" alt="" draggable="false">
                                </div>
                                <p class="moto-text_system_18">Malaysia<br></p>
                                <h3><a href="{% url 'payment_with_country' 199 'RC' 'MY' %}" >$199</a></h3>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            {% endblock %}
        </div>
    </div>

    
    <div class="moto-widget moto-widget-row" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                         data-widget="spacer" data-spacing="mama">
                        <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-css-name="moto-container_content_55e43327"
         class="moto-widget moto-widget-container moto-container_content_55e43327" data-widget="container"
         data-container="container">
        <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-spacing="">
            <div class="moto-widget-spacer-block" style="height: 10px;"></div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-menu moto-preset-3 moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                             data-preset="3" data-widget="menu"
                             data-align="{&quot;desktop&quot;:&quot;center&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;}"
                             data-menu-id="5" data-menu-type="horizontal" data-spacing="maaa">
                            <a href="#" class="moto-widget-menu-toggle-btn"><i
                                    class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>

                            <p style="text-align: center;" class="moto-text_system_4"><span class="moto-color5_3">Linedincareer Statistics<br></span>
                            </p>
                        </div>
                        <div class="moto-widget moto-widget-divider moto-preset-default                              moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="default"
                             data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}"
                             data-spacing="aama" data-width="100">
                            <hr style="width: 100%;" class="moto-widget-divider-line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-image moto-preset-default moto-align-left moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto wow fadeInLeft"
                             data-preset="default" data-spacing="masa" data-widget="image">


                            <div class="moto-widget-image-link">
                                <img src="{% static 'images/mt-0135-home-about.png' %}"
                                     class="moto-widget-image-picture" data-id="298" title="" alt=""
                                     draggable="false">
                            </div>

                        </div>
                        <div data-animation="fadeInLeft"
                             class="moto-widget moto-widget-text moto-preset-default                        wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto fadeInLeft"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span
                                    class="moto-color2_3">150 Companies With Us</span><br>
                            </p></div>
                        </div>
                        <div data-animation="fadeInRight"
                             class="moto-widget moto-widget-text moto-preset-default                        wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto fadeInRight"
                             data-widget="text" data-preset="default" data-spacing="aala">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">Our experts shall not disclose the name of the
                                employer, to the moment he affirms the agency, we have chosen. We provide impeccable
                                privacy exposure, even when we have not been asked and have not signed it the
                                contract. <br></p></div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto wow fadeIn"
                             data-preset="default" data-spacing="masa" data-widget="image">
                            <div class="moto-widget-image-link">
                                <img src="{% static 'images/mt-0135-home-services.png' %}"
                                     class="moto-widget-image-picture" data-id="306" title="" alt=""
                                     draggable="false">
                            </div>

                        </div>
                        <div data-animation="fadeInLeft"
                             class="moto-widget moto-widget-text moto-preset-default                        wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto fadeInLeft"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">550 Jobs Available</span><br>
                            </p></div>
                        </div>
                        <div data-animation="fadeInRight"
                             class="moto-widget moto-widget-text moto-preset-default                        wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto fadeInRight"
                             data-widget="text" data-preset="default" data-spacing="aala">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">Our experts shall not disclose the name of the
                                employer, to the moment he affirms the agency, we have chosen. We provide impeccable
                                privacy exposure, even when we have not been asked and have not signed it the
                                contract. <br></p></div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto wow fadeInRight"
                             data-preset="default" data-spacing="masa" data-widget="image">


                            <div class="moto-widget-image-link">
                                <img src="{% static 'images/mt-0135-home-events.png' %}"
                                     class="moto-widget-image-picture" data-id="302" title="" alt=""
                                     draggable="false">
                            </div>

                        </div>
                        <div data-animation="fadeInLeft"
                             class="moto-widget moto-widget-text moto-preset-default                        wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto fadeInLeft"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">3500 Total Resumes</span><br>
                            </p></div>
                        </div>
                        <div data-animation="fadeInRight"
                             class="moto-widget moto-widget-text moto-preset-default                        wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto fadeInRight"
                             data-widget="text" data-preset="default" data-spacing="aala">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">Our experts shall not disclose the name of the
                                employer, to the moment he affirms the agency, we have chosen. We provide impeccable
                                privacy exposure, even when we have not been asked and have not signed it the
                                contract. <br></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-spacing="">
            <div class="moto-widget-spacer-block" style="height: 10px;"></div>
        </div>
    </div>
    <div class="moto-widget moto-widget-row" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-spacer moto-preset-default                      moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                         data-widget="spacer" data-spacing="laaa">
                        <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-row" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-spacer moto-preset-default                moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                         data-widget="spacer" data-spacing="aama">
                        <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}