{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}Services{% endblock %}
{% block content %}
    <section id="section-content" class="content page-15 moto-section" data-widget="section" data-container="section">
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default                 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="lama">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_4" style="text-align: center;">Our main services</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-image moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
                             data-preset="default" data-spacing="sasa" data-widget="image">


                            <div class="moto-widget-image-link">
                                <img src="{% static 'images/mt-0135-services-our-main-service1.png' %}"
                                     class="moto-widget-image-picture" data-id="352" title="" alt="" draggable="false">
                            </div>

                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">We help to &nbsp;make a brilliant career </span><br>
                            </p></div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">Searching for work, you need the help of a professional.
                                Cooperation with agents from our recruiting agency, helps you to orientate in the labour
                                market quickly, to assess your forces properly and choose the path that most corresponds
                                to the stage of development of your career at the present moment. <br></p></div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
                             data-preset="default" data-spacing="sasa" data-widget="image">


                            <div class="moto-widget-image-link">
                                <img src="{% static 'images/mt-0135-services-our-main-services2.png' %}"
                                     class="moto-widget-image-picture" data-id="343" title="" alt="" draggable="false">
                            </div>

                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span
                                    class="moto-color2_3">Save your time with our help</span><br></p></div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">Our agency accumulates all the information about the
                                participants and the state of affairs in the staff and recruiting agencies market. In
                                order &nbsp;to save your time, we accumulate all the analytical background and
                                statistical information about the labour market, salaries and staff, collected from more
                                than 100 online and print editions.<br></p></div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto "
                             data-preset="default" data-spacing="sasa" data-widget="image">


                            <div class="moto-widget-image-link">
                                <img src="{% static 'images/mt-0135-services-our-main-services3.png' %}"
                                     class="moto-widget-image-picture" data-id="344" title="" alt="" draggable="false">
                            </div>

                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span class="moto-color2_3">Directory of staffing and recruiting agencies</span><br>
                            </p></div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">We regularly update our catalog, which is freely
                                available for our customers. It is the most comprehensive in the UK, and easy-to-use
                                directory of staffing and recruiting agencies. We apply maximum efforts so that
                                information there was accurate and up to date.<br></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div data-widget-id="wid__button__574f1f0731af7"
                             class="moto-widget moto-widget-button moto-preset-5 moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto wow fadeIn"
                             data-widget="button" data-preset="5" data-spacing="mala">
                            <a href="#" data-action="page"
                               class="moto-widget-button-link moto-size-large moto-link"
                               data-anchor=""
                               data-size="large"><span class="fa moto-widget-theme-icon"></span> <span
                                    class="moto-widget-button-label">READ MORE</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer"
                             data-spacing="">
                            <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-stellar-background-ratio="0.5" data-css-name="moto-container_content_55e54e5a"
             class="moto-widget moto-widget-container moto-parallax moto-container_content_55e54e5a"
             data-widget="container" data-container="container">
            <div class="moto-widget moto-widget-spacer moto-preset-default              moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                 data-widget="spacer" data-spacing="lala">
                <div class="moto-widget-spacer-block" style="height: 10px;"></div>
            </div>
            <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">
                            <div data-animation="fadeInUp"
                                 class="moto-widget moto-widget-text moto-preset-default            wow fadeInUp moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                 data-widget="text" data-preset="default" data-spacing="lasa">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_14" style="text-align: center;">Offering a free listing
                                    service<br></p></div>
                            </div>
                            <div data-animation="fadeInUp"
                                 class="moto-widget moto-widget-text moto-preset-default           wow fadeInUp moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                                 data-widget="text" data-preset="default" data-spacing="aala">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        style="text-align: center;" class="moto-text_system_3">to every job agency<br>
                                </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moto-widget moto-widget-spacer moto-preset-default              moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                 data-widget="spacer" data-spacing="lala">
                <div class="moto-widget-spacer-block" style="height: 10px;"></div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="lama">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_4" style="text-align: center;">New services<br></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="default"
                             data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}"
                             data-spacing="aasa" data-width="0">
                            <hr style="width: 0%;" class="moto-widget-divider-line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div data-css-name="moto-container_content_55e55068"
                             class="moto-widget moto-widget-container moto-container_content_55e55068"
                             data-widget="container" data-container="container">
                            <div data-animation="fadeIn"
                                 class="moto-widget moto-widget-text moto-preset-default             wow fadeIn moto-spacing-top-medium moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium"
                                 data-widget="text" data-preset="default" data-spacing="mmsm">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_6"><span class="moto-color1_3">Customer reviews on the work of recruiting agencies</span><br>
                                </p></div>
                            </div>
                            <div data-animation="fadeIn"
                                 class="moto-widget moto-widget-text moto-preset-default             wow fadeIn moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium"
                                 data-widget="text" data-preset="default" data-spacing="ammm">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_10">Who else can truly appreciate the agency's work as
                                    not his client? Only on our company website, customers can leave feedback on the
                                    quality of agency’s service. The quantity and quality of the reviews affect the
                                    agency's place in the rankings.<br></p></div>
                            </div>
                            <div data-widget-id="wid__button__574f1f073254c"
                                 class="moto-widget moto-widget-button moto-preset-5 moto-align-left moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium wow fadeIn"
                                 data-widget="button" data-preset="5" data-spacing="smmm">
                                <a href="#" data-action="page"
                                   class="moto-widget-button-link moto-size-large moto-link"
                                   data-anchor=""
                                   data-size="large"><span class="fa moto-widget-theme-icon"></span> <span
                                        class="moto-widget-button-label">READ MORE</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div data-css-name="moto-container_content_55e55083"
                             class="moto-widget moto-widget-container moto-container_content_55e55083"
                             data-widget="container" data-container="container">
                            <div data-animation="fadeIn"
                                 class="moto-widget moto-widget-text moto-preset-default             wow fadeIn moto-spacing-top-medium moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium"
                                 data-widget="text" data-preset="default" data-spacing="mmsm">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_6"><span class="moto-color1_3">Market news and event monitoring</span><br>
                                </p></div>
                            </div>
                            <div data-animation="fadeIn"
                                 class="moto-widget moto-widget-text moto-preset-default            wow fadeIn moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium"
                                 data-widget="text" data-preset="default" data-spacing="ammm">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_10">We track everything that is happening in the labour
                                    market and in the life and work of recruiting agencies in UK and neighbouring
                                    countries. Daily update.<br></p></div>
                            </div>
                            <div data-widget-id="wid__button__574f1f07327f3"
                                 class="moto-widget moto-widget-button moto-preset-5 moto-align-left moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium wow fadeIn"
                                 data-widget="button" data-preset="5" data-spacing="smmm">
                                <a href="#" data-action="page"
                                   class="moto-widget-button-link moto-size-large moto-link"
                                   data-anchor=""
                                   data-size="large"><span class="fa moto-widget-theme-icon"></span> <span
                                        class="moto-widget-button-label">READ MORE</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="moto-cell col-sm-4" data-container="container">
                        <div data-css-name="moto-container_content_55e55093"
                             class="moto-widget moto-widget-container moto-container_content_55e55093"
                             data-widget="container" data-container="container">
                            <div data-animation="fadeIn"
                                 class="moto-widget moto-widget-text moto-preset-default             wow fadeIn moto-spacing-top-medium moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium"
                                 data-widget="text" data-preset="default" data-spacing="mmsm">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_6"><span class="moto-color1_3">Trainings for recruiters and HR managers</span><br>
                                </p></div>
                            </div>
                            <div class="moto-widget moto-widget-text moto-preset-default                 moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium"
                                 data-widget="text" data-preset="default" data-spacing="ammm">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_10">The best world-known speakers are always ready to
                                    share their secrets with you. One of the main pros is that you are able to take part
                                    in our programs in different parts of the world, so that you can not only get new
                                    knowledge, but also discover a lot of amazing places. <br></p></div>
                            </div>
                            <div data-widget-id="wid__button__574f1f0733a3b"
                                 class="moto-widget moto-widget-button moto-preset-5 moto-align-left moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium wow fadeIn"
                                 data-widget="button" data-preset="5" data-spacing="smmm">
                                <a href="#" data-action="page"
                                   class="moto-widget-button-link moto-size-large moto-link"
                                   data-anchor=""
                                   data-size="large"><span class="fa moto-widget-theme-icon"></span> <span
                                        class="moto-widget-button-label">READ MORE</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="default"
                             data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}"
                             data-spacing="mama" data-width="0">
                            <hr style="width: 0%;" class="moto-widget-divider-line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-css-name="moto-container_content_55e55278"
             class="moto-widget moto-widget-container moto-container_content_55e55278" data-widget="container"
             data-container="container">
            <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">
                            <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                                 data-widget="text" data-preset="default" data-spacing="lama">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_4" style="text-align: center;"><span
                                        class="moto-color5_3">Most popular<br></span></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-6" data-container="container">
                            <div data-grid-type="sm" class="moto-widget moto-widget-row" data-widget="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="moto-cell col-sm-2" data-container="container">
                                            <div class="moto-widget moto-widget-image moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto wow fadeInUp"
                                                 data-preset="default" data-spacing="saaa" data-widget="image">


                                                <div class="moto-widget-image-link">
                                                    <img src="{% static 'images/mt-0135-services-most-popular1.png' %}"
                                                         class="moto-widget-image-picture" data-id="341" title="" alt=""
                                                         draggable="false">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="moto-cell col-sm-10" data-container="container">
                                            <div data-animation="fadeInUp"
                                                 class="moto-widget moto-widget-text moto-preset-default           wow fadeInUp moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                 data-widget="text" data-preset="default" data-spacing="sasa">
                                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                                        class="moto-text_system_6"><span class="moto-color2_3">For agencies and their employees</span><br>
                                                </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-animation="fadeInUp"
                                 class="moto-widget moto-widget-text moto-preset-default          wow fadeInUp moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                                 data-widget="text" data-preset="default" data-spacing="aala">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_10">- being represented in the catalogue (brief or full
                                    details);<br></p>

                                    <p class="moto-text_system_10">- appearing &nbsp;in various rankings;<br></p>

                                    <p class="moto-text_system_10">- following the news and market events, receiving the
                                        newsletter;<br></p>

                                    <p class="moto-text_system_10">- creating own userpage;<br></p>

                                    <p class="moto-text_system_10">- publishing articles and PR-materials about company.<br>
                                    </p></div>
                            </div>
                        </div>
                        <div class="moto-cell col-sm-6" data-container="container">
                            <div data-grid-type="sm" class="moto-widget moto-widget-row" data-widget="row">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="moto-cell col-sm-2" data-container="container">
                                            <div class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto wow fadeInUp"
                                                 data-preset="default" data-spacing="saaa" data-widget="image">


                                                <div class="moto-widget-image-link">
                                                    <img src="{% static 'images/mt-0135-services-most-popular2.png' %}"
                                                         class="moto-widget-image-picture" data-id="340" title="" alt=""
                                                         draggable="false">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="moto-cell col-sm-10" data-container="container">
                                            <div data-animation="fadeInUp"
                                                 class="moto-widget moto-widget-text moto-preset-default           wow fadeInUp moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                 data-widget="text" data-preset="default" data-spacing="sasa">
                                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                                        class="moto-text_system_6"><span class="moto-color2_3">For employees of client companies</span><br>
                                                </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-animation="fadeInUp"
                                 class="moto-widget moto-widget-text moto-preset-default          wow fadeInUp moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                                 data-widget="text" data-preset="default" data-spacing="aala">
                                <div class="moto-widget-text-content moto-widget-text-editable"><p
                                        class="moto-text_system_10">- the ability to &nbsp;select the agency easily in
                                    any city in the UK;</p>

                                    <p class="moto-text_system_10">- sharing personal opinion about recruiting
                                        partner;</p>

                                    <p class="moto-text_system_10">- appearing in the recruitment agencies ‘list of
                                        popular clients’;</p>

                                    <p class="moto-text_system_10">- selecting the most appropriate agency using the
                                        ratings, "community" and tender;<br></p>

                                    <p class="moto-text_system_10">- following the news and events of the recruiting
                                        market.<br></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="lama">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_4" style="text-align: center;">Special proposition</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-6" data-container="container">
                        <div class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                             data-preset="default" data-spacing="saaa" data-widget="image">


                            <div class="moto-widget-image-link">
                                <img src="{% static 'images/mt-0135-services-special-proposition.jpg' %}"
                                     class="moto-widget-image-picture" data-id="345" title="" alt="" draggable="false">
                            </div>

                        </div>
                    </div>
                    <div class="moto-cell col-sm-6" data-container="container">
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="sasa">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_6"><span
                                    class="moto-color1_3">Easy and efficient learning</span><br></p></div>
                        </div>
                        <div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                             data-widget="text" data-preset="default" data-spacing="aama">
                            <div class="moto-widget-text-content moto-widget-text-editable"><p
                                    class="moto-text_system_10">You can purchase an annual pass for free admission to
                                all trainings and master-classes, organized by our company. During the trainings you
                                will be able to learn about new trends and developments on the recruiting market, to
                                acquire new skills, for effective working with clients, and learn the latest
                                technologies in staff selection.<br></p></div>
                        </div>
                        <div data-widget-id="wid__button__574f1f07344ae"
                             class="moto-widget moto-widget-button moto-preset-5 moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto "
                             data-widget="button" data-preset="5" data-spacing="sala">
                            <a href="#" data-action="page"
                               class="moto-widget-button-link moto-size-large moto-link"
                               data-anchor=""
                               data-size="large"><span class="fa moto-widget-theme-icon"></span> <span
                                    class="moto-widget-button-label">READ MORE</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moto-widget moto-widget-row" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer"
                             data-spacing="">
                            <div class="moto-widget-spacer-block" style="height: 10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}