{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}user-login{% endblock %}
{% block header_nav_links %}{% endblock %}
{% block content %}
    <section id="section-content" class="content page-17 moto-section" data-widget="section" data-container="section">
        <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
            <div class="container-fluid">
                <div class="row">
                    <h1>Payment for services</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Service: {{order.title}}</h2>
            <h2>Order id {{order.merch_txn_ref}}</h2>
            <h2>Amuont {{order.amount}}$</h2>
            {{ form.render }}
        </div>

    </section>
{% endblock %}
