{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}payment successful{% endblock %}
{% block header_nav_links %}{% endblock %}
{% block content %}
<section id="section-content" class="content page-17 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-md-12" data-container="container">
                    <h3>Your transaction was successful.</h3>
                    <p>You will receive a call shortly.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}