{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}user-login{% endblock %}
{% block header_nav_links %}{% endblock %}
{% block content %}
<section id="section-content" class="content page-17 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                <h1>payment checkout page</h1>
            </div>
        </div>
    </div>
</section>
...
<h1>Show me the money!</h1>
<!-- writes out the form tag automatically -->
{{ form.render }}
{% endblock %}
